.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
.spelplan {
    position: relative;
    size: 100%;
    
}
.bakgrund {
    z-index: 1;

}
.spel {
    z-index: 2;
}

.bakgrund, .spel {
    position: absolute;
    top: 0;
    left: 0;
}

.canvas {
    display: block;
}


